/****************************************************************************************
        $IMPORTS
****************************************************************************************/
@import '../../../../colors.scss';

/****************************************************************************************
        $GENERALES
****************************************************************************************/

/****************************************************************************************
        $CLASES
****************************************************************************************/
.card-header {
    background-color: $primary-color;
}

.mat-form-field{
    width: 100%;
}

a mat-icon, a mat-slide-toggle{
    cursor: pointer;
}
