<div class="container-fluid">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Reporte general</span>
        <span class="spacer-toolbar"></span>
        <button mat-icon-button aria-label="Limpia filtros grid" (click)="clearFilter()"
          matTooltip="Limpiar los filtros de busqueda">
          <!-- <mat-icon>close</mat-icon> -->
          <span class="custom-size-icon-toolbar"><i class="fas fa-brush"></i></span>
        </button>
        <button mat-icon-button aria-label="Actualiza grid" (click)="reLoadGridPage()" matTooltip="Actualiza datos">
          <mat-icon>refresh</mat-icon>
        </button>
        <!-- <button mat-icon-button aria-label="Exportar excel" (click)="exportDataExcel()" matTooltip="Exportar a excel">
              <span class="custom-size-icon-toolbar"><i class="far fa-file-excel"></i></span>
          </button> -->
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="row pb-5">
      <mat-accordion class="col-12">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>search</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Filtros avanzados
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-6">
              <mat-label>Rango de fechas de pedidos (clic en el icono del calendario -> )</mat-label>
              <mat-date-range-input [formGroup]="rangoFechaCreacion" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Fecha inicio">
                  <input matEndDate formControlName="end" placeholder="Fecha fin">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="rangoFechaCreacion.controls.start.hasError('matStartDateInvalid')">Fecha de inicio
                  inv&aacute;lida</mat-error>
              <mat-error *ngIf="rangoFechaCreacion.controls.end.hasError('matEndDateInvalid')">Fecha fin
                  inv&aacute;lida</mat-error>
          </mat-form-field>
          </div>
          <br/>
          <button mat-raised-button color="primary" (click)="buscarPorFiltro()" class="col-sm-12 col-md-2">Buscar</button>
  
        </mat-expansion-panel>
      </mat-accordion>
  
      <div class="col-12">
        <div class="mat-elevation-z6 overflow-auto">
          <mat-form-field>
            <input matInput autocomplete="off" [formControl]="termino_busqueda" placeholder="Buscar por palabra clave"
              matTooltip="Click para buscar" #tooltip="matTooltip" class="pl-1"
              [matTooltipPosition]='_globalesService.POSITION_OPTIONS[2]'>
          </mat-form-field>
  
          <mat-progress-bar mode="indeterminate" class="mx-auto" *ngIf="dataSource.loading$ | async">
          </mat-progress-bar>
  
          <table mat-table matSort [dataSource]="dataSource">
  
            <ng-container matColumnDef="folio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio viaje </th>
              <td mat-cell *matCellDef="let element"> {{element.Folio }} </td>
            </ng-container>
            <ng-container matColumnDef="fechaPedido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha servicio </th>
              <td mat-cell *matCellDef="let element"> {{element.FechaPedido }} </td>
            </ng-container>
  
            <ng-container matColumnDef="nombreCliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Solicita </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreCliente }} </td>
              </ng-container>

              <ng-container matColumnDef="emailCliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.EmailCliente }} </td>
              </ng-container>
  
              <ng-container matColumnDef="direccionEntrega">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direcci&oacute;n de entrega </th>
                <td mat-cell *matCellDef="let element"> {{element.DireccionEntrega }} </td>
              </ng-container>
    
            <ng-container matColumnDef="nombreLocal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
              <td mat-cell *matCellDef="let element"> {{element.NombreLocal }} </td>
            </ng-container>

            <ng-container matColumnDef="nombreResponsableLocal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Local </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreResponsableLocal }} </td>
            </ng-container>
            
            <ng-container matColumnDef="detallePedido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripci&oacute;n servicio </th>
                <td mat-cell *matCellDef="let element"> {{element.DetallePedido }} </td>
            </ng-container>

            <ng-container matColumnDef="nombreTipoLocal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreTipoLocal }} </td>
            </ng-container>
            
            <ng-container matColumnDef="nombreMetodoPago">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma pago </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreMetodoPago }} </td>
            </ng-container>
            
            <ng-container matColumnDef="costoTotal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo servicio </th>
              <td mat-cell *matCellDef="let element"> {{element.CostoTotal }} </td>
            </ng-container>
  
            <ng-container matColumnDef="totalLocal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Pago local </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalLocal }} </td>
            </ng-container>
  
            <ng-container matColumnDef="costoViaje">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo env&iacute;o </th>
              <td mat-cell *matCellDef="let element"> {{element.CostoViaje }} </td>
            </ng-container>
  
  
            <ng-container matColumnDef="nombreRepartidor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Repartidor </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreRepartidor }} </td>
            </ng-container>

            <ng-container matColumnDef="loading">
              <td mat-footer-cell *matFooterCellDef colspan="14">
                Cargando ...
              </td>
            </ng-container>
  
            <ng-container matColumnDef="noData">
              <td mat-footer-cell *matFooterCellDef colspan="14">
                No se encontraron registros que cumplan los criterios de filtrado actuales.
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': dataSource.totalRows$ | async}">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="dataSource.totalRows$ | async" [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
        </div>
  
      </div>
    </div>
    <!--Fin panel card-body-->
  </div>
  