<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span> Reporte de balance </span>
      <span class="spacer-toolbar"></span>

    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z6 overflow-auto">
          <img src="https://st2.depositphotos.com/1383245/10197/v/600/depositphotos_101979128-stock-illustration-hazard-background-vector-illustration.jpg">
          <img src="https://st2.depositphotos.com/1383245/10197/v/600/depositphotos_101979128-stock-illustration-hazard-background-vector-illustration.jpg">
      </div>
    </div>
  </div>
</div>
