/****************************************************************************************
        $IMPORTS
****************************************************************************************/
@import '../../../../colors.scss';

/****************************************************************************************
        $GENERALES
****************************************************************************************/
table {
    width: 100%;
}

a > mat-icon {
    color: $primary-color  !important;
    &:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

  td {
    a {
      font-size: 30px !important;
      padding: 5px !important;
    }
    &.mat-cell, &.mat-footer-cell {
      /*padding: 10px!important;*/
      text-align: left;
    }
  }

  th.mat-header-cell {
    /*padding: 10px!important;*/
    text-align: left;
  }

/****************************************************************************************
        $CLASES
****************************************************************************************/
.card-header {
    background-color: $primary-color;
}

.mat-row:hover {
  background-color: rgb(230, 230, 230) !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 5px;
}
