/****************************************************************************************
        $IMPORTS
****************************************************************************************/
@import '../../../colors.scss';

/****************************************************************************************
        $GENERALES
****************************************************************************************/
div {
    margin: 0 auto;
  
    h5 {
      color: $primary-color;
    }
    h3 {
      color: $secundary-color;
    }
  }
  
  hr {
    border: 2px solid $secundary-color;
    width: 80%;
  }

/****************************************************************************************
        $CLASES
****************************************************************************************/
.img-home {
    width: 70%;
    text-align: center;
  }
