<div class="contenedor-fondo-login">
  <div class="">
    <div class="contenedor-login" [@fadeIn]>
      <div class="text-center mb-4 contenedor-img-login">
        <img src="/assets/img/logo.png" width="45%" alt="Logo FastRun">
      </div>
      <div class="text-center titulos-login">
        <h1>Iniciar Sesi&oacute;n</h1>
        <h3>Administrador Fastrun
        </h3>
      </div>
      <form method="post" (submit)="iniciarSesion()" class="mb-2">
        <div class="form-group mb-4">
          <!--<label for="validationTooltipUsername">Usuario</label>-->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-user"></i></span>
            </div>

            <input autocomplete="off" #txtUsuario type="email" [(ngModel)]="usuario" name="usuario" placeholder="Correo" required
              class="form-control control" autocomplete="off" />
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-lock"></i></span>
            </div>
            <input autocomplete="off"  #txtPassword type="password" [(ngModel)]="password" name="password" class="form-control control"
              placeholder="Contrase&ntilde;a" required />
          </div>
        </div>
        <div class="form-group text-center">
          <button *ngIf="!loading" type="submit" class="btn-login btn btn-primary btn-block btn-large">Entrar</button>
          <mat-spinner *ngIf="loading" style="margin: 0 auto;"></mat-spinner>

        </div>

        <div class="from-group text-right recuperar-password">
          <p> <i class="fas fa-unlock-alt"></i><a [routerLink]="['/recuperar-password']"> Olvid&eacute; mi
              contrase&ntilde;a</a></p>
        </div>

      </form>
    </div>
  </div>
  <!-- <ngx-loading [show]="loading"></ngx-loading> -->
</div>
