/****************************************************************************************
        $IMPORTS
****************************************************************************************/
@import '../../../colors.scss';

/****************************************************************************************
        $GENERALES
****************************************************************************************/
agm-map {
        height: 300px;
    }
/****************************************************************************************
        $CLASES
****************************************************************************************/
.card-header {
    background-color: $primary-color;
}

.mat-form-field{
    width: 100%;
}

